@model AlphaScheduler.Models.Programa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Programa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facultad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facultad.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Programa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
